
html{
    font-size: 16px;    
    font-family:'Courier New', Courier, monospace;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(img/fondo.jpg) no-repeat content-box;
    background-blend-mode: soft-light;
    background-size: cover;
    /* z-index:-1; */
    opacity: 0.9;
    /* background-color: #f3f5fc; */
    background-color: #f7f3f1f6;
    margin: 0px;
}

header{
    /* margin-top: 0.3rem; */
    padding-left: 2rem;
    max-width: 100%;    
    color: #14a13e;
    font-weight: bolder;
}

.logo{
    font-size: 6rem; 
}

.titulo{
    text-align: center;
    animation: blinker 1s linear infinite;   
}

.tableroJuego{
    display: none;
    visibility: hidden;
}

.tableroJuego.mostrar{
    display: block; 
    visibility: visible;
}

.configJuego{
    display: none;
    visibility: hidden;
}

.configJuego.mostrar{
    display: block;
    visibility: visible;
}

.agregarPalabra{
    display: none;
    visibility: hidden;
}

.agregarPalabra.mostrar{
    display: block;
    visibility: visible;
}

#txtTexto{    
    text-align: center;
    color: #259c35;    
    max-width: 100%;
    font-weight: bolder;
    width: 17rem;
    padding: 1rem;
    border: solid 2px #259c35;
    background: inherit;
    font-size: 20px;
    font-family:inherit;    
}

.info{    
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.2rem; 
    color: #14a13e;
    font-weight: bolder;    
    border-radius: 50%;    
    width: 200px;
    background-color: #259c35;
    color: #fff;    
}

#hombre{
    max-width: 100%;
    max-height: 100%;
    width: 16.75rem;
    height: 16.75rem;
    display: inline-block;
    border: none;
}

#home::after{
    content: "hombre ahorcado";
}

.fin-juego{
    text-align: center;
    color: #259c35;
    font-size: 3rem; 
    font-weight: bold;
    display: none;
    visibility: hidden;
}

.fin-juego.mostrar{
    display: block;
    visibility: visible;
}

.riddle{
    text-align: center;
    color: #259c35;
    font-size: 3rem; 
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.hombre-ahorcado{
    width: 100vw;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;    
    height: 16.75rem;
}

.adivinado{
    text-align: center;
    color: #14a13e;
    font-size: 1.8rem;    
}

.letra{
    display: inline-block;
    text-align: center;   
    vertical-align: middle;   
}

.adivinada{    
    width: 4.5rem;
    height: 4.5rem;      
    border-bottom: solid 1px #14a13e;
    margin-left: 0.4rem;   
    line-height: 4.5rem;
}

.errado{
    text-align: center;
    margin-top: 1rem;
    color: #242d34;    
}

.errada{
    margin-left: 1rem;
}

[type="button"]{
    width: 17rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px #2d4932;
    cursor: pointer;
    color: #04270f;
    background: inherit;
    font-size: 17px;
    font-family:inherit;
}

.botones{
    text-align: center;
    margin-top: 3.5rem;
}
  
/* .boton:hover,.boton:focus { */
.boton:hover{
    background-color: #259c35;
    color: #fff;
    border: solid 1px #000;
  }

footer{    
    position: fixed;
    bottom: 0;
    padding: 1rem;
    color: #259c35;
}

.alert{
    padding: 20px;
    background-color: #259c35;
    color: white;
}
  
.closebtn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover{
    color: black;
}

@media only screen and (max-width: 600px) {
    body {      
      background-size: auto;
      background-position: 15% 5%;
    }
    .titulo{
        font-size: 0.8rem; 
        text-align: center;
        animation: blinker 1s linear infinite;   
    }
  }
