
html{
    font-size: 16px;
    /* font-family:  'Inter', sans-serif; */
    font-family:'Courier New', Courier, monospace;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    margin-top: 1.5rem;
    padding-left: 2rem;
    max-width: 100%;
    font-size: 9rem; 
    color: #14a13e;
    font-weight: bolder;
}

body{
    background: url(img/fondo.jpg) no-repeat;
    background-blend-mode:soft-light;
    background-size: cover;
    /* z-index:-1; */
    opacity: 0.9;
    /* background-color: #f3f5fc; */
    background-color: #f7f3f1f6;
    margin: 0px;
}

#hombre{
    max-width: 100%;
    max-height: 100%;
    width: 16.75rem;
    height: 16.75rem;
    /* border: solid 1px #777;
    background-image: #ddd; */
    display: inline-block;
    border: none;
}

#home::after{
    content: "hombre ahorcado";
}

.fin-juego{
    text-align: center;
    color: #259c35;
    font-size: 3rem; 
    font-weight: bold;
    visibility: hidden;
}

.fin-juego.mostrar{
    visibility: visible;
}

.riddle{
    text-align: center;
    color: #259c35;
    font-size: 3rem; 
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.hombre-ahorcado{
    width: 100vw;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;    
    height: 16.75rem;
}

.adivinado{
    text-align: center;
    color: #14a13e;
    font-size: 1.8rem;    
}

.letra{
    display: inline-block;
    text-align: center;   
    vertical-align: middle;   
}

.adivinada{    
    width: 4.5rem;
    height: 4.5rem;      
    border-bottom: solid 1px #14a13e;
    margin-left: 0.4rem;   
    line-height: 4.5rem;
}

.errado{
    text-align: center;
    margin-top: 1rem;
    color: #242d34;    
}

.errada{
    margin-left: 1rem;
}

[type="button"]{
    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px #2d4932;
    cursor: pointer;
    color: #04270f;
    background: inherit;
    font-size: 17px;
    font-family:inherit;
}

.botones{
    text-align: center;
    margin-top: 3rem;
}
  
/* .boton:hover,.boton:focus { */
.boton:hover{
    background-color: #259c35;
    color: #fff;
    border: solid 1px #000;
  }

footer{  
    position: absolute;
    bottom: 0;
    padding: 1rem;
    color: #259c35;
}
